<div class="auth-container">

  <h2>{{ isLogin ? 'Login' : 'Register' }}</h2>

  <div *ngIf="!isLogin">
    <input type="text" placeholder="Name" [(ngModel)]="name">
  </div>

  <input type="email" placeholder="Email" [(ngModel)]="email">
  <input type="password" placeholder="Password" [(ngModel)]="password">

  <button (click)="submit()">
    {{ isLogin ? 'Login' : 'Register' }}
  </button>

  <p style="color:red">{{ errorMsg }}</p>

  <p (click)="toggleMode()" style="cursor:pointer">
    {{ isLogin ? 'Create account' : 'Already have account? Login' }}
  </p>

</div>